.share {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 1.2rem;
        }
     
    }

    &__link {
        font-size: 1.5rem;
        &--green {
            color: #01d2a3;
        }
    }
}