$blue: #0045ff;
$green: #01d2a3;
$redish: #ff487e;
$grey-light-shade: #444444;
$grey-dark-shade: #343434;
$grey-darkest-shade: #222222;
$white: #ffffff;
$white-shade: #fbfbfb;

$white-shade: #fbfbfb;

$font-sm: 0.9rem;
$font-common: 1rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xl: 1.8rem;
$font-2xl: 2.2rem;
$font-4xl: 3rem;